<!doctype html>
<html>
  <head>
    <title>Players</title>
    <%- include('./partials/css.ejs') %>
  </head>
  <body>
    <div class="container">
      <%- include("./partials/navBar.ejs") %>
      <h1>Players</h1>

      <%- include("./partials/errMsg.ejs") %>

      <div class="mb-4">
        <a href="/players/create" class="btn btn-primary btn-sm">Create a Player</a>
      </div>
      <div class="row">
  

        <% players.forEach(function(player){ %>
        <div class="col-4 mb-2">
          <div class="card p-2">
            <div class="card-title">
              <label><a href="/players/<%= player.player_id %>">Player ID: <output><%= player.player_id %></output></a> </label>
            </div>
            <div class="card-text">
              <div>
                <label
                  >Team ID: <output><%= player.team_id %></output>
                </label>
              </div>
              <div>
                <label
                  >Name: <output><%= player.name %></output>
                </label>
              </div>
              <div>
                <label
                  >Sexual: <output><%= player.sex %></output>
                </label>
              </div>
              <div>
                <label
                  >Contact: <output><%= player.contact %></output>
                </label>
              </div>

              <div>
                <a
                  type="button"
                  class="btn btn-outline-primary btn-sm"
                  href="/players/<%= player.player_id %>/edit"
                  >Edit</a
                >
                <a
                  type="button"
                  class="btn btn-outline-danger btn-sm"
                  href="/players/<%= player.player_id %>/delete"
                  >Delete</a
                >
              </div>
            </div>
            <!-- /.card-text -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col-4 -->

        <% }); %>
      </div>
      <!-- /.row -->

      <%- include("./partials/footer.ejs") %>
    </div>
    <!-- /.container -->
  </body>
</html>