<!doctype html>
<html>
  <head>
    <title>Player Details <%= player?.player_id %></title>
    <%- include('./partials/css.ejs') %>
  </head>
  <body>
    <div class="container">
      <%- include("./partials/navBar.ejs") %>
      <h1>Player Details <%= player?.player_id %></h1>

      <%- include("./partials/errMsg.ejs") %>

      <div class="mb-1">
        <label class="form-label">
          <strong>Player ID:</strong>
          <output> <%= player.player_id %> </output>
        </label>
      </div>
      <div class="mb-1">
        <label class="form-label">
          <strong>Player Name:</strong>
          <output><%= player.name %> </output>
        </label>
      </div>
      <div class="mb-1">
        <label class="form-label">
          <strong>Team ID</strong>
          <output><%= player.team_id %></output>
        </label>
      </div>
      <div class="mb-1">
        <label class="form-label">
          <strong>Belong to Team </strong>
          <output><%= team.team_name %></output>
        </label>
      </div>
      <div class="mb-1">
        <label class="form-label">
          <strong>Sexual:</strong>
          <output><%= player.sex %></output>
        </label>
      </div>
      <div class="mb-1">
        <label class="form-label">
          <strong>Contact:</strong>
          <output> <%= player.contact %> </output>
        </label>
      </div>

      <%- include("./partials/footer.ejs") %>
    </div>
    <!-- /.container -->
  </body>
</html>
