<!doctype html>
<html>
  <head>
    <title>Player Edit</title>
    <%- include('./partials/css.ejs') %>
  </head>
  <body>
    <div class="container">
      <%- include("./partials/navBar.ejs") %>
      <h1>Player Edit <%= player?.player_id %></h1>

      <%- include("./partials/errMsg.ejs") %>

      <div>Player edit here</div>

      <form action="/players/<%= player.player_id %>/edit" method="POST">
        <input type="hidden" name="player_id" value="<%= player.player_id %>">
        <div class="mb-3">
          <label class="form-label">
            Player Name
            <input
              type="text"
              value="<%= player.name %>"
              name="name"
              class="form-control"
            />
          </label>
        </div>
        <div class="mb-3">
          <label class="form-label">
            Team ID
            <input
              type="text"
              value="<%= player.team_id %>"
              name="team_id"
              class="form-control"
            />
          </label>
        </div>
        <div class="mb-3">
          <label class="form-label">
            Sexual
            <input
              type="text"
              value="<%= player.sex %>"
              name="sex"
              class="form-control"
            />
          </label>
        </div>
        <div class="mb-3">
          <label class="form-label">
            Contact
            <input
              type="text"
              value="<%= player.contact %>"
              name="contact"
              class="form-control"
            />
          </label>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
      </form>

      <%- include("./partials/footer.ejs") %>
    </div>
    <!-- /.container -->
  </body>
</html>
