<!doctype html>
<html>
  <head>
    <title>Team Edit</title>
    <%- include('./partials/css.ejs') %>
  </head>
  <body>
    <div class="container">
      <%- include("./partials/navBar.ejs") %>
      <h1>Team Edit <%= team?.team_id %></h1>

      <%- include("./partials/errMsg.ejs") %>

      <div>Team edit here</div>

      <form action="/teams/<%= team.team_id %>/edit" method="POST">
        <input type="hidden" name="team_id" value="<%= team.team_id %>">
        <div class="mb-3">
          <label class="form-label">
            Team Name
            <input
              type="text"
              value="<%= team.team_name %>"
              name="team_name"
              class="form-control"
            />
          </label>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
      </form>

      <%- include("./partials/footer.ejs") %>
    </div>
    <!-- /.container -->
  </body>
</html>
